@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@import "tailwindcss";

@theme {
  --font-open-sans: "Open Sans", "sans-serif";
  --font-pacifico: "Pacifico", "sans-serif";
  --font-dosis: "Dosis", "sans-serif";
}


