<div class="rounded overflow-hidden shadow-lg">
<h1 class="text-2xl">This is my first app ever and I'm super excited to become a coder</h1>
<% @ideas.each do |idea| %>
  <h3><%= idea.description %></h3>
  <h4><%= idea.author %></h4>
<% end %>

  <div class="px-6 py-8 h-full">
    <div class="font-bold text-xl mb-2">This is some text within the body</div>
  </div>
</div>
<div class="max-w-screen-xl mx-auto">
  <% @ideas.each do |idea| %>
    <div class="rounded overflow-hidden shadow-lg">
      <div class="px-6 py-8 h-full">
        <div class="font-bold text-xl mb-2"><%= idea.description %></div>
        <p class="text-sm text-gray-700 "><%= idea.author %></p>
      </div>
    </div>
  <% end %>
</div>